*.aux
*.fls
*.glo
*.fdb_latexmk
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.xdv
*.mtc1
*.pdf
*.out
*.synctex.gz
*.xml
*.bcf
*.snm
*.nav
.DS_Store
